<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to my initial project</h1>
</div><br>

<div class="d-flex align-items-center justify-content-center">
    <h3>Yes, I'm succeeded</h3>
</div>